<div style="text-align: center;">
  <h1>TRUCKStore</h1>
  <br>
  <p style="font-style: italic;">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
  <p>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
  <hr>
  <h2>What we do</h2>
  <br>
  <p style="text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget posuere diam. Maecenas consectetur nulla eu accumsan bibendum. Praesent interdum ut sapien ut condimentum. Proin non velit dictum, volutpat metus in, luctus ante. Quisque vitae magna ante. Suspendisse turpis lorem, fringilla nec molestie et, volutpat eu ipsum. Cras tristique et nunc at vehicula. Fusce nibh quam, viverra ac aliquam vitae, tincidunt quis magna. Maecenas non posuere augue. Pellentesque quis massa id orci sodales consectetur vel in felis. Praesent consequat nulla id dolor tempus egestas sed non erat. Nulla consequat leo ut suscipit convallis.</p>
  <p style="text-align: left;">Morbi nec elementum eros. Pellentesque rutrum, nunc in posuere volutpat, nibh mauris cursus risus, a iaculis diam magna vel tortor. Fusce sodales, neque eu malesuada vehicula, libero lorem gravida justo, a euismod ligula mi aliquam turpis. Nullam ullamcorper erat a dapibus ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer ultricies, nulla id eleifend feugiat, est ex dapibus erat, vitae pellentesque lectus metus eleifend neque. Maecenas interdum lorem sit amet nibh congue, et mollis massa ultricies.</p>
  <br>
  <hr>
  <h2>Who we are</h2>
  <br>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.fillmurray.com/200/200" alt="...">
      <div class="caption" style="text-align: center;">
        <h4>Carl Spackler</h4>
        <p>Turf Manager</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.fillmurray.com/200/200" alt="...">
      <div class="caption" style="text-align: center;">
        <h4>Peter Venkman</h4>
        <p>Ghost Buster</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.fillmurray.com/200/200" alt="...">
      <div class="caption" style="text-align: center;">
        <h4>Phil Conners</h4>
        <p>Meteorologist</p>
      </div>
    </div>
  </div>
  <hr>
</div>
