<div style="text-align: center;">
  <h1>TRUCKStore</h1>
  <p style="font-style: italic;">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
  <p>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
  <hr>
  <h2>MISSION</h2>
  <div style="text-align: left;">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget posuere diam. Maecenas consectetur nulla eu accumsan bibendum. Praesent interdum ut sapien ut condimentum. Proin non velit dictum, volutpat metus in, luctus ante. Quisque vitae magna ante. Suspendisse turpis lorem, fringilla nec molestie et, volutpat eu ipsum. Cras tristique et nunc at vehicula. Fusce nibh quam, viverra ac aliquam vitae, tincidunt quis magna. Maecenas non posuere augue. Pellentesque quis massa id orci sodales consectetur vel in felis. Praesent consequat nulla id dolor tempus egestas sed non erat. Nulla consequat leo ut suscipit convallis.</p>
    <p>Morbi nec elementum eros. Pellentesque rutrum, nunc in posuere volutpat, nibh mauris cursus risus, a iaculis diam magna vel tortor. Fusce sodales, neque eu malesuada vehicula, libero lorem gravida justo, a euismod ligula mi aliquam turpis. Nullam ullamcorper erat a dapibus ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer ultricies, nulla id eleifend feugiat, est ex dapibus erat, vitae pellentesque lectus metus eleifend neque. Maecenas interdum lorem sit amet nibh congue, et mollis massa ultricies.</p>
    <p>In magna mauris, sollicitudin ac laoreet vitae, maximus non ex. Mauris diam risus, tristique id auctor quis, ornare eu erat. In ullamcorper nec lectus ut tristique. Aliquam at tellus diam. Duis a facilisis ex. Mauris egestas dapibus leo nec consequat. Quisque lobortis commodo mi viverra laoreet. Nunc bibendum blandit magna, in auctor ex rhoncus sodales. Morbi et rhoncus ante.</p>
    <p>Duis id suscipit magna. Aliquam tincidunt tincidunt pellentesque. Fusce finibus posuere diam, sed consequat dui pulvinar vel. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer a hendrerit ex. Ut tristique nibh non metus pretium convallis. Nullam consectetur, felis id porta euismod, eros ipsum pharetra eros, quis interdum ex diam a metus. Sed convallis turpis id est vulputate volutpat. Cras porttitor turpis tortor, id egestas magna iaculis at.</p>
    <p>Quisque at dapibus mauris, at fringilla lacus. Nunc in ultricies felis. Nunc ac orci magna. Nullam viverra ultricies est, non mollis felis aliquam nec. Nullam bibendum, dui ac fermentum sagittis, enim ex ultrices mauris, non sodales velit ex non arcu. Nam luctus, est a congue suscipit, nibh ipsum pharetra sapien, eget scelerisque metus arcu vel tellus. Aliquam felis purus, eleifend sit amet erat at, commodo cursus velit. Phasellus arcu urna, fermentum eu faucibus a, malesuada sit amet arcu. Nullam at est ac felis aliquam rutrum vitae et ligula. Ut nisi ex, ultrices sit amet ante ut, facilisis pellentesque lectus. Suspendisse suscipit in magna ac malesuada. Vivamus nisi metus, semper in pharetra ac, venenatis non justo. Morbi volutpat lectus diam, id tincidunt risus pretium eget.</p>
  </div>
  <hr>
  <h2>TEAM</h2>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.fillmurray.com/200/200" alt="...">
      <div class="caption" style="text-align: center;">
        <h4>Carl Spackler</h4>
        <p>Turf Manager</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.fillmurray.com/200/200" alt="...">
      <div class="caption" style="text-align: center;">
        <h4>Peter Venkman</h4>
        <p>Ghost Buster</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.fillmurray.com/200/200" alt="...">
      <div class="caption" style="text-align: center;">
        <h4>Phil Conners</h4>
        <p>Meteorologist</p>
      </div>
    </div>
  </div>
</div>
