<footer class="footer" style="text-align: center;">
  <hr>
  <%= link_to "About Us", static_pages_about_path %> | <%= mail_to "platypuscs@gmail.com", "Contact Us" %>
  <br>
  <br>
  <p>©2017 TRUCKStore</p>
</footer>
