<footer class="footer" style="text-align: center;">
    <%= link_to "About Us", static_pages_about_path %> | <%= link_to "Contact Us", new_contact_path %>
    <br>
    <br>
    <p>©2017 TRUCKStore</p>
</footer>
